.navbar {
    height: 60px;
    background-color: skyblue;
    border-bottom: 1px solid #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
        font-size: 30px;
        font-weight: bold;
        margin-right: 50px;
    }

    .link {
        a {
            font-size: 18px;
            padding: 0 20px;
        }
    }
}

